<mat-toolbar>
  <span><nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">Prova de Vida</a>
  <button class="app-nav-icon" mat-raised-button color="primary" (click)="logout()">Logout</button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
  </div>
  <span class="navbar-text">
    Usuário: {{loggedUserName}}
  </span>
</nav>
</span>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <mat-toolbar>
      <span>Agendamento de prova de vida</span>
    </mat-toolbar>
<table mat-table [dataSource]="provadevida" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- matricula Column -->
  <ng-container matColumnDef="matricula">
    <th mat-header-cell *matHeaderCellDef> Matrícula </th>
    <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
  </ng-container>

  <!-- cpf Column -->
  <ng-container matColumnDef="numCpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let element"> {{element.numCpf}} </td>
  </ng-container>

  <!-- nome Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- datanascimento Column -->
  <ng-container matColumnDef="dataNascimento">
    <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
    <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
  </ng-container>

  <!-- mes Column -->
  <ng-container matColumnDef="sequencial">
    <th mat-header-cell *matHeaderCellDef> Mês </th>
    <td mat-cell *matCellDef="let element"> {{element.sequencial}} </td>
  </ng-container>

  <!-- situacao Column -->
  <ng-container matColumnDef="situacao">
    <th mat-header-cell *matHeaderCellDef> Situação </th>
    <td mat-cell *matCellDef="let element"> {{element.situacao}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  </mat-card-content>
</mat-card>

